<%= form_for(@generator) do |f| %>
  <% if @generator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generator.errors.count, "error") %> prohibited this generator from being saved:</h2>

      <ul>
      <% @generator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Description" %><br>
    <%= f.text_area :productDescription %>
  </div>
  <div class="field">
    <%= f.label :"Model #" %><br>
    <%= f.text_field :modelNumber %>
  </div>
  <div class="field">
    <%= f.label :dealer %><br>
    $<%= f.text_field :dealer %>
  </div>
  <div class="field">
    <%= f.label :msrp %><br>
    $<%= f.text_field :msrp %>
  </div>
  <div class="field">
    <%= f.label :map %><br>
    $<%= f.text_field :map %>
  </div>
    <div class="field">
    <%= f.label :"PH Volt" %><br>
    <%= f.text_field :phVolt %>
  </div>
  <div class="field">
    <%= f.label :voltage %><br>
    $<%= f.text_field :voltage %>
  </div>
  <div class="field">
    <%= f.label :"Mounted Breaker" %><br>
    <%= f.text_field :mountedBreaker %>
  </div>
  <div class="field">
    <%= f.label :"Alternator" %><br>
    <%= f.text_field :alternator %>
  </div>
  <div class="field">
    <%= f.label :"Active" %><br>
    <%= f.check_box :activeStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
