<h1>Listing Generators</h1>

<table class="center">
  <thead>
    <tr>
      <th>Description</th>
      <th>Model #</th>
      <th>PHVolt</th>
      <th>Dealer</th>
      <th>MSRP</th>
      <th>MAP</th>
      <th>Voltage</th>
      <th>Mounted Breaker</th>
      <th>Alternator</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generators.each do |generator| %>
      <tr>
        <td><%= generator.productDescription %></td>
        <td><%= generator.modelNumber %></td>
        <td><%= generator.phVolt %></td>
        <td><%= number_to_currency(generator.dealer) %></td>
        <td><%= number_to_currency(generator.msrp) %></td>
        <td><%= number_to_currency(generator.map) %></td>
        <td><%= generator.voltage %></td>
        <td><%= generator.mountedBreaker %></td>
        <td><%= generator.alternator %></td>
        <td><%= generator.activeStatus %></td>
        <td><%= link_to 'Edit', edit_generator_path(generator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Generator', new_generator_path %>
