<p id="notice"><%= notice %></p>

<p>
  <strong>Bidsheet:</strong>
  <%= @misc_item_line.bidSheet_id %>
</p>

<p>
  <strong>Itemname:</strong>
  <%= @misc_item_line.itemName %>
</p>

<p>
  <strong>Itemprice:</strong>
  <%= @misc_item_line.itemPrice %>
</p>

<%= link_to 'Edit', edit_misc_item_line_path(@misc_item_line) %> |
<%= link_to 'Back', misc_item_lines_path %>
