<%= form_for(@accessory_line) do |f| %>
  <% if @accessory_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessory_line.errors.count, "error") %> prohibited this accessory_line from being saved:</h2>

      <ul>
      <% @accessory_line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :"Bid Sheet" %><br>
      <%= f.collection_select(:bidSheet_id, BidSheet.all, :id, :jobNumber) %>
    </div>

  <div class="field">
    <%= f.label :"Accessory" %><br>
    <%= f.collection_select(:accessory_id, Accessory.all, :id, :productDescription)  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
