<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.firstName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.lastName %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @customer.streetAddress %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @customer.streetAddress2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state.abbreviation %>
</p>

<p>
  <strong>ZIP:</strong>
  <%= @customer.zipCode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone) %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= number_to_phone(@customer.phone2) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
