<%= form_for(@bid_sheet) do |f| %>
  <% if @bid_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid_sheet.errors.count, "error") %> prohibited this bid_sheet from being saved:</h2>

      <ul>
      <% @bid_sheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Employee %><br>
    <%= f.collection_select(:employee_id, Employee.all, :id, :set_empfullname) %>
  </div>
  <div class="field">
    <%= f.label :Customer %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :set_cusfullname) %>
  </div>
  <div class="field">
    <%= f.label :'Job Number' %><br>
    <%= f.text_field :jobNumber %>
  </div>
  <div class="field">
    <%= f.label :Date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :Generator %><br>
    <%= f.collection_select(:generator_id, Generator.all, :id, :modelNumber) %>
  </div>
  <div class="field">
    <%= f.label :'Transfer Switch' %><br>
    <%= f.collection_select(:transferswitch_id, TransferSwitch.all, :id, :modelNumber) %>
  </div>
  <div class="field">
    <%= f.label :'Concrete Slab' %><br>
    <%= f.collection_select(:concreteslab_id, ConcreteSlab.all, :id, :slabName) %>
  </div>
  <div class="field">
    <%= f.label :'Labor Cost' %><br>
    $<%= f.text_field :laborCost %>
  </div>
  <div class="field">
    <%= f.label :'Labor Tax' %><br>
    <%= f.text_field :laborTax %>%
  </div>
  <div class="field">
    <%= f.label :'Gen/ATS Tax' %><br>
    <%= f.text_field :genAtsTax %>%
  </div>
  <div class="field">
    <%= f.label :Markup %><br>
    <%= f.text_field :markup %>%
  </div>
  <div class="field">
    <%= f.label :'Tax Exempt' %><br>
    <%= f.check_box :taxExempt %>
  </div>
  <div class="field">
    <%= f.label :'Job Description' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :'Complete' %><br>
    <%= f.check_box :completeStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
