<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='UTF-8'>

  <title>Editable Invoice</title>

  <link rel='stylesheet' href='css/style.css'>
  <link rel='stylesheet' href='css/print.css' media="print">
  <script src='js/jquery-1.3.2.min.js'></script>
  <script src='js/example.js'></script>

</head>

<body>

<div id="page-wrap">

  <textarea id="header">INVOICE</textarea>

  <table>
    <tr>
  <div id="identity">
    <td>
    <p>
    <div id="logo">
      <%= image_tag("kiss.PNG", :alt => "logo") %>
    </div>
    </p>
    </td>

    <td>
    <p>
    <strong>Bill To:</strong></br></br>

    <%= @bid_sheet.customer.set_cusfullname %> </br>
    <%= @bid_sheet.customer.set_cusaddress %> </br>
    </p>
    </td>

  </div>
     </tr>
  </table>

  <div style="clear:both"></div>

  <div id="customer">

    <table id="meta">
      <tr>
        <td class="meta-head">Job #</td>
        <td><%= @bid_sheet.jobNumber %></td>
      </tr>
      <tr>

        <td class="meta-head">Date</td>
        <td><textarea id="date">Enter Date</textarea></td>
      </tr>
      <tr>
        <td class="meta-head">Total</td>
        <td><div class="due">$875.00</div></td>
      </tr>

    </table>

  </div>




    <div id="summary">
      <h5>Summary</h5>

<section>
      Kiss Generator Kohler <%= @bid_sheet.generator.productDescription %> <textarea cols="1" rows="1" style="font-size: 10px">Proposal</textarea></br>
      Thank you for asking KISS Generator Inc. to make a proposal for the standard power for your

         <select>
         <option value="home">home</option>
         <option value="business">business</option>
         </select>

      located at <%= @bid_sheet.customer.set_cusaddress %>.
      The pricing includes the installation of Kohler <%= @bid_sheet.generator.productDescription %>,<%= @bid_sheet.transferswitch_id %> transfer switch, [any other items checked on the bid sheet].</br>

      <% if @bid_sheet.customer.city == "Houston" %>
      <%= print "Any amendments requested by the City of Houston Building Inspection Office or any emergency concerns will be addressed and pricing may need to change accordingly.Any amendments requested by the City of Houston Building Inspection Office or any emergency concerns will be addressed and pricing may need to change accordingly." %>
      <% else %>
      <%= print "." %>
      <% end %>

      <div id="terms">
        <textarea>Enter addtional job description</textarea>
      </div>
</section>

    </div>
  <table id="items">

    <tr id="hiderow">
      <td colspan="5"><a id="addrow" href="javascript:;" title="Add a row"></a></td>
    </tr>

    <tr>
      <td colspan="2" class="blank"> </td>
      <td colspan="2" class="total-line">Sales Tax</td>
      <td class="total-value"><div id="subtotal">$875.00</div></td>
    </tr>
    <tr>

      <td colspan="2" class="blank"> </td>
      <td colspan="2" class="total-line">Total</td>
      <td class="total-value"><div id="total">$875.00</div></td>
    </tr>
    <tr>
      <td colspan="2" class="blank"> </td>
      <td colspan="2" class="total-line">Amount Paid</td>

      <td class="total-value"><textarea id="paid">$0.00</textarea></td>
    </tr>
    <tr>
      <td colspan="2" class="blank"> </td>
      <td colspan="2" class="total-line balance">Balance Due</td>
      <td class="total-value balance"><div class="due">$875.00</div></td>
    </tr>

  </table>

  <div id="terms">
    <h5>Terms</h5>
    <textarea>Any amendments requested by the City of Houston Building Inspection Office or any emergency concerns will be addressed and pricing may need to change accordingly.</textarea>
  </div>

  <p>
    </br></br></br>
    <table>
    <tr>
      <td>
    ____________________________________________
      </td>
      <td>
    __________
      </td>
    </tr>
    <tr>
      <td>
    Customer Signature
      </td>
      <td>
    Date
      </td>
    </tr>
    <tr>
    <td>
    ____________________________________________
    </td>
    <td>
    __________
    </td>
    </tr>
    <tr>
    <td>
    Burt Koenig
    </td>
    <td>
    Date
    </td>
    </tr>
    </table>
  </p>

</div>



</body>

</html>

<%= link_to 'Edit', edit_bid_sheet_path(@bid_sheet) %> |
<%= link_to 'Back', bid_sheets_path %>
