<%= form_for(@concrete_slab) do |f| %>
  <% if @concrete_slab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concrete_slab.errors.count, "error") %> prohibited this concrete_slab from being saved:</h2>

      <ul>
      <% @concrete_slab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :slabName %>
  </div>
  <div class="field">
    <%= f.label :Price %><br>
    $<%= f.text_field :slabPrice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
