// Place all the styles related to the Generators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

table.center {
  margin-left:auto;
  margin-right:auto;
}