<%= form_for(@accessory) do |f| %>
  <% if @accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% @accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Description" %><br>
    <%= f.text_field :productDescription %>
  </div>
  <div class="field">
    <%= f.label :"Model #" %><br>
    <%= f.text_field :modelNumber %>
  </div>
  <div class="field">
    <%= f.label :"Dealer" %><br>
    $ <%= f.text_field :dealer %>
  </div>
  <div class="field">
    <%= f.label :"MSRP $" %><br>
   $ <%= f.text_field :msrp %>
  </div>
  <div class="field">
    <%= f.label :"Active" %><br>
    <%= f.check_box :activeStatus %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
