<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @accessory.productDescription %>
</p>

<p>
  <strong>Model #:</strong>
  <%= @accessory.modelNumber %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= number_to_currency(@accessory.dealer) %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= number_to_currency(@accessory.msrp) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @accessory.activeStatus %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
