<!DOCTYPE html>
<html>
<head>
  <title>KISS Generators Bid Sheet System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "KISS Generators" %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to "Customers", customers_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Bid Sheets", bid_sheets_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Reports", bid_sheets_path %></li>
      <li class="divider"></li>
    </ul>

    <ul class="right">
      <li class="has-dropdown"><a href="#">Edit Inventories</a>
        <ul class="dropdown">
          <li><label>Edit Inventories</label></li>
          <li<%= link_to "Generators", generators_path %></li>
          <li><%= link_to "Transfer Switches", transfer_switches_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Accessories", accessories_path %></li>
          <li><%= link_to "Concrete Slabs", concrete_slabs_url %></li>
        </ul>
      </li>
    </ul>
    </section>
</nav>

<%= yield %>

</body>
</html>
